@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{
	max-width: 100%;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-image: url(../img/trash.jpg);
	background-size: cover;
	margin:0;
  	height:100%;
  	width: 100%;
}
html{/*
	position: fixed;*/
	top:0;
	bottom: 0;
	left:0;
	right: 0;
}
nav{
	list-style: none;/*
	display: flex;*//*
	margin-right: -15px;*/
	/* width: 100vw; */
	display: flex;
	right: 0;
	text-align: center;
}
nav li{
	display: inline-block;
}
a{
	text-decoration: none;
	color:rgb(0, 0, 0);
	cursor: pointer;
	display: block;/*
	align-content: center;*/
	/*
	text-align: center;*/
}
li a:hover{
	opacity: 1;
	color: #3498db;
	font-weight: bold;
}
h2{
	font: bold 1.5em "Quicksand",sans-serif;/*
	margin-left: 50px;*/
}

header{
	max-width: 100vw;
	display: flex;
	justify-content: space-between;
	background-color: rgba(255,255,255,0.6);
	align-items: center;
	padding: 35px 100px 15px;
	/*opacity: 0;*/
	animation: 1s fadein 0.5s forwards;
}
nav{
	margin-right: 20px;
}
li a{
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	padding: 0px 20px;
	cursor: pointer;
	align-content: center;
	text-align: center;
}
ul li{
	list-style: none;
}
#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding:35px;/*
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;*/
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
    margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font:normal 18px "Open Sans",sans-serif;
	/*font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 18px;*/
	border-radius: 0;
	line-height: 22px;
	height: 50px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 20px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  	padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}
.beforedisp{
	display: none;
}
.afterdisp{
	display: flex;
	flex-wrap: wrap;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 26px 26px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 26px 26px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#type{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 26px 26px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#type{	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 26px 26px;
	background-position: 11px 8px;
	background-repeat: no-repeat;

}
#type:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 26px 26px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
.stylecomment{/*
	background-color:rgba(72,72,72,0.4);*/
	padding:35px;/*
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;*/
	width: 450px;
	text-align: center;
	align-content: center;/*
	float: left;*//*
	left: 50%;*/
    margin-top:30px;
}
.stylecomment li{
	text-align: center;
}
.stylecomment {
	text-align: center;
	margin-right: 15%;
	margin-left: 30%;
}
.collector{
	background-color:rgba(72,72,72,0.6);
	color: white;
	padding:15px;/*
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;*/
	width: 450px;
	/*float: left;
	left: 50%;
    margin-top:10px;*/
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.cname{
	font:bold 20px "Josefin Sans",sans-serif;
	margin-bottom: 5px;
}
.cadd{
	font: 18px 'Open Sans', sans-serif;
	margin-bottom: 2px;
}
.ccontact{
	font: 18px 'Open Sans', sans-serif;
}


textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font:normal 15px "Open Sans",sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 2px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	padding: 7px 46px 7px 46px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
 	margin-top:24px;
  	font-weight:bold;
}

#button-blue:hover{
	background-color: white;
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
/*
.submit:hover .ease{
  width:100%;
  background-color:white;
}*/

@media only screen and (max-width: 450px) {

	header{
		padding: 20px 50px; /* so this in <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
		flex-direction: column;
		text-align: center;
	}
	header h2{
		margin-bottom: 15px;
		width: 100%;
	}
	header nav li{
		font-size: 12px;
		padding: 6px;
		width: 80px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	li a {
		font-size: 16px;
	}

	#form-div{
		left: 2.5%;/*
		right:auto;*/
		width: 88%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 3%;
		padding-right: 3%;
	}
	#button-blue
	{
		padding: 15px 40px;
	}
}